@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@500&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  position: relative;
  font-family: 'Comfortaa', cursive;
  background: linear-gradient(45deg, #c396ec, #f18080);
  height: 100vh;
  overflow: hidden;
}
